<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,800;1,900&display=swap" rel="stylesheet">     <title>Document</title>
</head>
<body class="staff-color">

    <header class="staff-header">
        <img src="img/logo.png" alt="Staff Logo">
        <h1 class="header-where-text">Where it's @</h1>
        <h3 class="header-staff-text">STAFF</h3>
    </header>

    <main class="wrapper">
        <section class="form-inputs">
            <input type="text" placeholder="Användarnamn" id="username" class="form-input">
        </section>
        <section class="form-inputs">
            <input type="password" placeholder="Lösenord" id="password" class="form-input">
        </section>
        <article>
            <p id="errorMessage" class="hide">Användarnamn eller lösenord är inte korrekt.</p>
        </article>
        <button id="submit" class="form-button">Logga in</button>
    </main>
    <script src="js/account.js"></script>

</body>
</html>